.all{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
     width: 750px;
    /* height: 700px;  */
    border: 1px solid;
    left: 50%;
    top: 50%;
    margin-top: 50px;
}

h1{
    margin-left: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    gap: 15px;
}

input{
    width: 700px;
    height: 35px;
}

button{
    background-color: blue;
    height: 40px;
    width: 150px;
    color: white;
    border: none;
    margin-top: 10px;
    font-size: 15px;
}

.error{
    color: red;
    margin-bottom: 5px;
}